
<div class="center">
    <img src="/nexus-complete/assets/nexus.png">
    <app-navbar></app-navbar>
    <form (submit)="register()">
    <div class="input_group">
        <i class="material-icons">
            account_circle
            </i>
      <input type="text" class="input" placeholder="username" [(ngModel)]="username" name="username" />
    </div>
    <div class="input_group">
        <i class="material-icons">
            verified_user
            </i>
            <input type="password" class="input" placeholder="password" [(ngModel)]="password" name="password" /> 
          </div>
            <input type="submit" class="button"
            value="Register" />
            <div class="registerGroup" *ngIf="valid"><p>Registered!</p> <button class="buttonGo" routerLink="/login">Go to Login</button></div>
    <div *ngIf="error">{{ error | json }}</div>
   
  </form>
</div>



 
  