.task_name{
    font-size: 0.9em;
    margin:0px 0px 10px 10px;
}
.tasks_on {
    border-radius: 10px;
    padding: 10px;
    background-color: #eaeaea;
    margin-bottom: 10px;
  }
  .tasks_off {
    border-radius: 10px;
    padding: 10px;
    background-color: #eaeaea;
    margin-bottom: 10px;
    opacity:0.4 ;
  }
  .material-icons {
    font-size: 1.2rem;
 
    line-height: 1.5;
  }
  .task_title {
    display: flex;
    justify-content: space-between;
   
  }

  .hide{
   
   height: 0px;
   transition: 200ms ease all;
    
 }
  .hide ul{
    display:none;
  }
  
  

  // .show{
  //   height: 70px;
  //   transition: height 400ms;
   
  // }
  
  
  .show{
    height: 70px;
    transition: 400ms ease all;
  
  }

  ul {
    padding-left: 0;
    list-style-type: none;
}
.rotate{
  transform: rotate(-90deg);
  transition: 400ms ease all;
}