<div class= "{{completed? 'tasks_off' : 'tasks_on'}}">
    <div class="task_title">

      <div>
        <i *ngIf="!editingTask" class="material-icons" (click)="siExiste()">   {{completed? "done_all" : "done"}} </i>
    <span *ngIf="!editingTask" class="task_name" (click)="editStart()">{{ task.text }}</span>
    <input autofocus *ngIf="editingTask" [(ngModel)]="newTaskText"  type="text" (blur)="cancelEdit()" (keyup.enter)="editTaskText()">
    <i *ngIf="editingTask" (click)="addTaskSymbolRe(newTaskText)" class="material-icons">done</i>
  </div>

    <i (click)="mostrar()" class="material-icons">settings</i>
    </div>

  <div class= "{{showMyclass? 'show' : 'hide'}}"> 
    
    <ul class= "{{showMyclass? 'after' : 'before'}}">
        <li><i (click)="editStart()" class="material-icons">edit</i></li> 
        <li><i (click)="deleteTask()"class="material-icons">delete</i></li>
           
     </ul> 

    
   
</div> 
 


</div>