.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 210px;
  margin-top: -150px;
  margin-left: -105px;
  background-color: #8ac149;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.center img {
  height: 50px;
  margin-bottom: 5px;
}

.input_group {
  border-radius: 10px;
  padding: 10px;
  background-color: #ffea3c;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.input {
  border: none;
  padding: 5px;
  background-color: transparent;
  width: 100%;
}

.button {
  border-radius: 10px;
  padding: 10px;
  background-color: #ccdb3a;
  margin-bottom: 10px;
  border: none;
  width: 100%;
}

.buttonGo {
  border-radius: 10px;
  padding: 10px;
  background-color: #ffea3c;

  border: none;
}

.registerGroup {

  display: flex;
  justify-content: flex-end;
  margin-bottom: 2px;
}

p {
  font-size: 0.8em;
  margin-right: 10px;

}

.error {
  font-size: 0.8em;
  color: #ffea3c;
  margin-bottom: 2px;
}

input:focus,
button:focus {
  outline: 0px;
}
